@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

html {
    font-size: 14px;
}

.main-wrapper {
    min-height: 100vh;
}

.main {
    flex: 1 1 auto;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    background-color: white;
}

body {
    background: url('../images/bc.jpg');
    backdrop-filter: blur(5px);
    background-size: cover;
}

.core {
    background-color: gray;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 10px;
}

.sized {
    width: 55%;
    height: 70%;
    margin: 0 auto;
}

.iconssize {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav-item {
    position: relative;
    right: -80%;
}

.navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gridcontainer {
    min-height: 300px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.col {
    height: 250px;
    border: 1px groove black;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0px 0px 5px black;
    background-color: #ffffff;
    color: black;
}

.d-block {
    border-radius: 10px;
    filter: blur(2px);
}

.raw {
    font-family: URW Chancery L;
    padding-left: 100px;
}

.textmain {
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    height: 600px;
    min-width: 1000px;
}

.mainimage {
    top: 50px;
    position: relative;
    right: 10px;
    height: 500px;
    width: 500px;
}

.text-center {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-bottom: 70px;
}

.imagescarusel {
    max-width: 250px;
    max-height: 350px;
}

.gridcontainer h4 {
    font-size: 16px;
}


/*Style for login and register page*/
.loginmain {
    margin: 50px;
    padding: 10px 10px 10px 10px;
    width: 90%;
    height: 500px;
    justify-content: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: #ffffff94;
    border-radius: 10px;
}

.coluns {
    margin: 10px 10px 10px 10px;
}

.form-wrapper {
    width: 300px;
}

.btn-outline-dark {
    margin: 10px 2px 2px 2px;
}

.form-group input {
    border-radius: 5px;
}

.text-message {
    font-family: 'League Gothic', sans-serif;
    color: rgb(2, 8, 103);
}