<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForPractice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ForPractice.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="main-wrapper d-flex flex-column">
        <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img class="iconssize " src="~/images/home.png" />
                <a class="navbar-brand" asp-area="" asp-page="/Index">Miral</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-page="Index"><img class="iconssize" src="~/images/search.png" /></a>
                            <a class="navbar-brand" asp-area="" asp-page="/Index"><img class="iconssize" src="~/images/bookmark.png" /> </a>
                            <a class="navbar-brand" asp-area="" asp-page="CabinetPage"><img class="iconssize" src="~/images/уолтер-уайт-64.png" /></a>
                    </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="main pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ForPractice - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>